.isic-form-page.isic-create-dataset-container
  h2.isic-page-title Create dataset

  .isic-form-container
    .isic-form-group
      h3 Basic information
      p.
        Enter the dataset's name, a detailed description, and its owner. The
        owner may be an individual or an institution.
      .form-group
        label.control-label(for='isic-create-dataset-name') Name
        input#isic-create-dataset-name.form-control.input-sm(
          type='text')
      .form-group
        label.control-label(for='isic-create-dataset-description') Description
        textarea#isic-create-dataset-description.input-sm.form-control
      .form-group
        label.control-label(for='isic-create-dataset-owner') Owner
        input#isic-create-dataset-owner.form-control.input-sm(
          type='text')
    .isic-form-group
      h3 Licensing
      p.
        Select the license for the dataset.
      .form-group
        label.control-label(for='isic-create-dataset-license') License
        select#isic-create-dataset-license.form-control.input-sm
          option(value='CC-0')
            | CC-0 (No restrictions)
          option(value='CC-BY')
            | CC-BY (Attribution)
          option(value='CC-BY-NC')
            | CC-BY-NC (Attribution-NonCommercial)
        .isic-create-dataset-agreement-link-container
          a#isic-create-dataset-show-license-info-link.isic-create-dataset-agreement-link
            | Help me choose
    .isic-form-group
      h3 Attribution
      p.
        Choose how to represent the dataset on the archive as being
        "contributed by."
      .form-group
        .radio
          label.control-label
            input#isic-create-dataset-attribution-anonymous(
              type='radio', name='attribution', value='anonymous')
            | Anonymous
        .radio
          label.control-label
            input#isic-create-dataset-attribution-attributed-to(
              type='radio', name='attribution', value='attributed-to', checked='on')
            | Attributed to:
          input#isic-create-dataset-attribution-name.form-control.input-sm(
            type='text')

  p
    form#isic-create-dataset-form
      button#isic-create-dataset-submit.btn.btn-primary.btn-md(type='submit') Submit
