.isic-listing-item-container.isic-dataset-container
  table.table.table-condensed.isic-listing-item-table
    tr
      td.isic-listing-item-table-section-header(colspan=2) Info
    tr
      td.isic-listing-item-table-label Unique ID
      td
        code= dataset.id
    tr
      td.isic-listing-item-table-label Creator
      td= dataset.creator().name()
    tr
      td.isic-listing-item-table-label Created
      td= formatDate(dataset.get('created'))
    tr
      td.isic-listing-item-table-label Image Count
      td= dataset.get('count')

  table.table.table-condensed.isic-listing-item-table
    tr
      td.isic-listing-item-table-section-header(colspan=2) Attributes
    tr
      td.isic-listing-item-table-label Description
      td= dataset.get('description')
    tr
      td.isic-listing-item-table-label License
      td= dataset.get('license')
    tr
      td.isic-listing-item-table-label Attribution
      td= dataset.get('attribution')
    if dataset.canWrite()
      tr
        td.isic-listing-item-table-label Owner
        td= dataset.get('owner')
  if dataset.canWrite()
    table.table.table-condensed.isic-listing-item-table
      tr
        td.isic-listing-item-table-section-header Actions
      tr
        td.btn-toolbar
          button.isic-dataset-register-metadata-button.btn.btn-default.btn-md
            i.icon-tags
            |  Register metadata
          button.isic-dataset-apply-metadata-button.btn.btn-default.btn-md
            i.icon-tags
            |  Apply metadata
          if dataset.canAdmin()
            button.isic-dataset-access-button.btn.btn-default.btn-md
              i.icon-lock
              |  Set access
