//- Dataset info for use in an .isic-form-container.
h3 Dataset
table.table.table-condensed.isic-dataset-info-table
  if dataset
    tr
      td.isic-dataset-info-table-label Name
      td= dataset.name()
    tr
      td.isic-dataset-info-table-label Description
      td= dataset.get('description')
    tr
      td.isic-dataset-info-table-label License
      td= dataset.get('license')
    tr
      td.isic-dataset-info-table-label Attribution
      td= dataset.get('attribution')
    if dataset.canWrite()
      tr
        td.isic-dataset-info-table-label Owner
        td= dataset.get('owner')
  else
    tr
      td.isic-dataset-info-none-selected None selected
