.panel-heading(id='heading'+dataset.id role='tab')
  h4.panel-title
    a(
      role='button'
      data-toggle='collapse'
      data-parent='#accordion'
      href='#collapse'+dataset.id
      aria-expanded='true'
      aria-controls='collapse'+dataset.id
    ) #{dataset.get('name')}
.panel-collapse.collapse.in(
  id='collapse'+dataset.id
  role='tabpanel'
  aria-labelledby='heading'+dataset.id
)
  .panel-body
    span #{dataset.get('description')}

    .carousel.slide(id='carousel'+dataset.id data-ride="carousel" style="width: 256px;")
      //ol.carousel-indicators
      //  each image, imageNum in images
      //    li(
      //      class=imageNum === 0 ? 'active' : ''
      //      data-target="#carousel-example-generic"
      //      data-slide-to=imageNum
      //    )
      .carousel-inner(role="listbox")
        each image, imageNum in images
          .item(class=imageNum === 0 ? 'active' : '')
            img(
              src='/api/v1/image/' + image.id + '/thumbnail?width=256'
              alt=image.get('name')
            )
            //.carousel-caption #{image.get('name')}
      a.left.carousel-control(href='#carousel'+dataset.id role='button' data-slide='prev')
        //span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        //span.sr-only Previous
      a.right.carousel-control(href='#carousel'+dataset.id role='button' data-slide='next')
        //span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        //span.sr-only Next
