if segmentation.id
  table.table.table-condensed.isic-segmentation-display-table
    tbody
      tr
        td Created
        td= created
      tr
        td Creator
        td= segmentation.creator().name()
      tr
        td Metadata
        td
          pre.pre-scrollable= stringify(segmentation.get('meta'))
      tr
        td Reviews
        td
          pre.pre-scrollable= stringify(segmentation.get('reviews'))
  img(src=thumbnailUrl)
