- let numImages = study.get('images').length
.isic-listing-item-container.isic-study-container
  table.table.table-condensed.isic-listing-item-table
    tr
      td.isic-listing-item-table-section-header(colspan=2) Info
    tr
      td.isic-listing-item-table-label Unique ID
      td
        code= study.id
    tr
      td.isic-listing-item-table-label Creator
      td= study.creator().name()
    tr
      td.isic-listing-item-table-label Created
      td= formatDate(study.get('created'))

  table.table.table-condensed.isic-listing-item-table
    tr
      td.isic-listing-item-table-section-header Questions
        |  (#{study.get('questions').length})
    tr
      td.isic-study-questions-content
        if study.get('questions').length > 0
          table
            tr
              th.isic-study-questions-content-id Question Name
              th.isic-study-questions-content-choices Question Choices
            each question in study.get('questions')
              tr
                td.isic-study-questions-content-id= question.id
                td.isic-study-questions-content-choices
                  ul
                    each choice in question.choices
                      li= choice
        else
          | (no questions)

  table.table.table-condensed.isic-listing-item-table
    tr
      td.isic-listing-item-table-section-header Features
        |  (#{study.get('features').length})
    tr
      td.isic-study-features-content
        if study.get('features').length > 0
          ul
            each feature in study.get('features')
              li= feature.id
        else
          | (no features)

  table.table.table-condensed.isic-listing-item-table
    tr
      td.isic-listing-item-table-section-header Annotators
        |  (#{study.get('users').length})
        if study.canAdmin()
          a.isic-study-add-user-button.btn.btn-default.btn-xs(title='Add annotator')
            i.icon-plus
    tr
      td.isic-study-users-content
        if study.get('users').length
          table(class=study.canAdmin() ? 'table-hover' : undefined)
            th(colspan=2)
            th(colspan=2) Completion
            each user in study.users().toArray()
              - let numCompleted = 'N/A'
              - let percentCompleted = 'N/A'
              if numImages > 0
                - numCompleted = study.get('userCompletion')[user.id]
                - percentCompleted = `${(numCompleted / numImages * 100).toFixed().toString()}%`
                - numCompleted = `${numCompleted} / ${numImages}`
              tr(data-user-id=user.id)
                td.isic-study-user-name= user.name()
                td
                  if study.canAdmin()
                    a.isic-study-remove-user-button.isic-study-delete-button(title='Delete annotator')
                      i.icon-cancel
                td.isic-study-user-completion-count= numCompleted
                td.isic-study-user-completion-percent= percentCompleted
        else
          | (no users)
      if study.canAdmin()
        tr
          td.isic-study-users-content
            table.table-hover
              th(colspan=2) Participation Requests
              if study.get('participationRequests').length
                each user in study.participationRequests().toArray()
                  tr(data-user-id=user.id)
                    td.isic-study-user-name= user.name()
                    td
                      a.isic-study-accept-request-button(title='Add user as annotator')
                        i.icon-ok
                      a.isic-study-delete-request-button.isic-study-delete-button(title='Delete request')
                        i.icon-cancel
              else
                tr
                  td (no requests)

  table.table.table-condensed.isic-listing-item-table
    tr
      td.isic-listing-item-table-section-header Images
        |  (#{numImages})
    tr
      td.isic-study-images-content
        if numImages > 0
          table
            tr
              th.isic-study-images-content-name Image Name
              th.isic-study-images-content-imageid Image ID
            each image in study.get('images')
              tr
                td.isic-study-images-content-name= image.name
                td.isic-study-images-content-imageid= image._id
        else
          | (no images)
  if study.canAdmin()
    table.table.table-condensed.isic-listing-item-table
      tr
        td.isic-listing-item-table-section-header Actions
      tr
        td
          button.isic-study-destroy-button.btn.btn-default.btn-md
            i.icon-trash
            |  Delete study
