.isic-image-details-container
  .button
    img(src='#{imgRoot}/ex.svg')

  if image.id
    .isic-image-details-name= image.name()

    button.btn.btn-large.btn-primary.fullscreen Fullscreen

    table.table.table-condensed.isic-image-details-table
      tbody
        tr
          td.isic-image-details-table-section-header(colspan=2) Info
        tr
          td Dataset
          td= image.get('dataset')['name']
        tr
          td Created
          td= created
        tr
          td License
          td
            if license.url
              a(target="_blank", href=license.url)= license.name
            else
              = license.name

        tr
          td.isic-image-details-table-section-header(colspan=2) Clinical Metadata
        each value, key in clinicalMetadata
          tr
            td= key
            td= value

        tr
          td.isic-image-details-table-section-header(colspan=2) Acquisition Metadata
        each value, key in acquisitionMetadata
          tr
            td= key
            td !{value}

    #isic-image-details-segmentations-display-view-container
