.isic-image-details-container
  .button
    img(src='#{imgRoot}/ex.svg')

  if image.id
    .isic-image-details-name= image.name()
      button.btn.btn-xs.btn-default.padleft.padbottom.zoom(data-toggle="tooltip" data-placement="bottom" title="View this image in full resolution")
        i.icon-zoom-in
      button.btn.btn-xs.btn-default.padleft.padbottom.openwindow(data-toggle="tooltip" data-placement="bottom" title="Open this image in a new window")
        i.icon-link-ext

    table.table.table-condensed.isic-image-details-table
      tbody
        tr
          td.isic-image-details-table-section-header(colspan=2) Info
        tr
          td Unique ID
          td
            code= image.id
        tr
          td Dataset
          td= image.get('dataset')['name']
        tr
          td Created
          td= created
        tr
          td License
          td
            if license.url
              a(target="_blank", href=license.url)= license.name
            else
              = license.name
        if currentUser && currentUser.canReviewDataset()
          tr
            td Original Filename
            td= image.get('meta').originalFilename

        tr
          td.isic-image-details-table-section-header(colspan=2) Clinical Metadata
        each value, key in clinicalMetadata
          tr
            td= key
            td= value

        tr
          td.isic-image-details-table-section-header(colspan=2) Acquisition Metadata
        each value, key in acquisitionMetadata
          tr
            td= key
            td !{value}

        tr
          td.isic-image-details-table-section-header(colspan=2) Unstructured Metadata
        each value, key in unstructuredMetadata
          tr
            td= key
            td !{value}

    #isic-image-details-segmentations-display-view-container
