if segmentation.id
  table.table.table-condensed.isic-segmentation-display-table
    tbody
      tr
        td Created
        td= created
      tr
        td Skill
        td= segmentation.get('skill')
      tr
        td Creator
        td= segmentation.creator().name()
      tr
        td Source
        td= segmentation.get('lesionBoundary')['properties']['source']
  img(src=thumbnailUrl)
