extends imagesFacet

block content
  svg.isic-images-facet-histogram-content
    g.yAxis
    g.yAxisKnob
      rect(
        transform='rotate(45)'
        width='0.5em'
        height='0.5em'
        x='-0.25em'
        y='-0.25em')
    g.selectAllBins
      image.selectAll.button(
        width='1em'
        height='1em'
        x='-0.5em'
        y='-0em'
        xlink:href='#{staticImageRoot}/check.svg')
      text(
        transform='rotate(90)'
        x='1.5em'
        y='0.5em') Select All
    g.bins
