extends imagesFacet

block content
  svg.isic-images-facet-histogram-content
    g.yAxis
    g.yAxisKnob
      rect(
        transform='rotate(45)',
        width='0.5em',
        height='0.5em',
        x='-0.25em',
        y='-0.25em')
    g.isic-images-facet-all
      image.isic-images-facet-all-exclude.button(
        width='1em',
        height='1em',
        x='-2em',
        y='0em',
        xlink:href=require('!url-loader!svg-fill-loader!./ex.svg?fill=#ff7258'))
      image.isic-images-facet-all-include.button(
        width='1em',
        height='1em',
        x='-0.5em',
        y='0em',
        xlink:href=require('!url-loader!svg-fill-loader!./check.svg?fill=#4de07f'))
    g.bins
