.isic-studies-header
  .isic-studies-title
    h2
      | Annotation Studies
    h4
      | #{studies.length} studies

.isic-studies-container
  each study, index in studies.models
    .isic-study-panel-group.panel-group
      .isic-study-panel.panel.panel-default
        .isic-study-panel-heading.panel-heading
          a(data-toggle="collapse" data-target="#{'#panel-' + study.cid}").collapsed
            | #{study.get('name')}
            span.isic-study-panel-heading-indicator.pull-right
              i.icon-right-open
        .isic-study-panel-collapse.panel-collapse.collapse(
          id="#{'panel-' + study.cid}"
          data-study-index="#{index}"
          )
          .isic-study-panel-body.panel-body

