.isic-study-users-container
  h4 Unique ID
  .isic-listing-content
    code= study.id
  h4 Users
    if studyAdmin
      a.isic-study-add-user-button.btn.btn-default.btn-sm.isic-tooltip(
        title="Add user")
        i.icon-plus
  .isic-listing-content.isic-study-users-content
    if study.get('users').length
      ul
        each user in study.users().models
          li= user.name()
    else
      | (no users)

.isic-study-featureset-container
  h4 Featureset
  .isic-listing-content.isic-study-featureset-content
    = study.featureset().name()

.isic-study-images-container
  h4 Images
    |  (#{study.get('images').length})
  .isic-listing-content.isic-study-images-content
    if study.get('images').length
      table
        tr
          th.isic-study-images-content-name Image Name
          th.isic-study-images-content-imageid Image Id
        each image in study.get('images')
          tr
            td.isic-study-images-content-name= image.name
            td.isic-study-images-content-imageid= image._id
    else
      | (no images)
