.isic-listing-item-container.isic-featureset-container
  table.table.table-condensed.isic-listing-item-table
    tr
      td.isic-listing-item-table-section-header(colspan=2) Info
    tr
      td.isic-listing-item-table-label Unique ID
      td
        code= featureset.id
    tr
      td.isic-listing-item-table-label Version
      td= featureset.get('version')
    tr
      td.isic-listing-item-table-label Creator
      td= featureset.creator().name()

  each featureType in [{id: 'globalFeatures', name: 'Global Features'}, {id: 'localFeatures', name: 'Local Features'}]
    table.table.table-condensed.isic-listing-item-table
      tr
        td.isic-listing-item-table-section-header(colspan=2)= featureType.name
      tr
        td(colspan=2)
          if featureset.get(featureType.id).length
            table.table.table-condensed.isic-featureset-table-features-table
              each feature in featureset.get(featureType.id)
                - var hasOptions = (feature.type === 'radio');
                tr
                  td.isic-featureset-table-feature-header(colspan=3)
                    each nameComponent, index in feature.name
                      span.isic-featureset-table-feature-name-component= nameComponent
                      if index < (feature.name.length - 1)
                        i.icon-angle-right
                tr
                  td.isic-listing-item-table-label.isic-featureset-table-feature-id-key ID
                  td.isic-featureset-table-feature-id-value
                    code= feature.id
                tr
                  td.isic-listing-item-table-label(class={'isic-featureset-table-features-table-footer': !hasOptions}) Type
                  td(class={'isic-featureset-table-features-table-footer': !hasOptions})= feature.type
                if hasOptions
                  tr
                    td.isic-listing-item-table-label.isic-featureset-table-features-table-footer Values
                    td.isic-featureset-table-features-table-footer
                      table.table.table-condensed.isic-featureset-table-value-table
                        tr
                          th.isic-featureset-table-feature-value-label-id ID
                          th.isic-featureset-table-feature-value-label-name Name
                        tr
                          each valueOption in feature.options
                            tr
                              td
                                code= valueOption.id
                              td=valueOption.name
          else
            | None
  if currentUser && currentUser.canAdminStudy()
    table.table.table-condensed.isic-listing-item-table
      tr
        td.isic-listing-item-table-section-header Actions
      tr
        td
          button.isic-featureset-destroy-button.btn.btn-default.btn-md
            i.icon-trash
            |  Delete featureset
