.container.isic-tasks-container
  h2.isic-page-title= title
    a.isic-tasks-refresh-button.btn.btn-default.btn-sm(title='Refresh')
      i.icon-cw
  .row
    .col-lg-6
      #isic-tasks-qc-container
      #isic-tasks-segmentation-container
      #isic-tasks-annotation-container
    .col-lg-2
      iframe.isic-tasks-video(
        width='420',
        height='315',
        src='https://www.youtube.com/embed/fxPZR3mayCM',
        frameborder='0',
        allowfullscreen)
      iframe.isic-tasks-video(
        width='420',
        height='315',
        src='https://www.youtube.com/embed/NRFNyHraGvM',
        frameborder='0',
        allowfullscreen)
      iframe.isic-tasks-video(
        width='420',
        height='315',
        src='https://www.youtube.com/embed/lis4xgoFUeo',
        frameborder='0',
        allowfullscreen)
      iframe.isic-tasks-video(
        width='420',
        height='315',
        src='https://www.youtube.com/embed/2vMgFFE41o0',
        frameborder='0',
        allowfullscreen)
